/*div.header-content {
  border-bottom: 2px solid #808080;

  box-shadow: 0 5px 25px #00000033;
}*/

ul#menu {
  height: 100%;
}

div.header-content > nav li {
  &:hover {
    text-decoration: underline;
  }
}

span.jnet-pin {
  svg {
    height: 1em;
    width: 1em;
    
    font-size: 1.25rem;

    transform: rotate(180deg);
    transition: transform .3s ease-in-out;
  }

  &:hover {
    svg {
      transform: rotate(0deg);
    }
  }
}

div#oc-menu {
  display: none;
}

aside.h-aside {
  position: relative;

  padding: 0 .7rem;
}

aside.h-aside a {
  &:hover {
    text-decoration: underline;
  }
}

li.l-hidden svg {
  font-size: 1.5rem;
}

li.l-hidden span {
  display: none;
}

button#mobile-menu {
  display: none;
}

img.bg-logo {
  height: 50px;
  width: auto;

  aspect-ratio: 1 / 1;

  filter: var(--logo-1);
}

li.menu-contact  {
  display: none;
}

li.l-link {
  height: 100%;
}

li.l-link a {
  display: flex;
  align-items: center;

  height: 100%;

  &:hover {
    text-decoration: underline;
  }
}

li.l-others ul {
  padding-left: 1rem;
}

li.l-others li {
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

li.l-others li:nth-of-type(1):hover {
  color: #C13584;
}

li.l-others li:nth-of-type(2):hover {
  color: #1877F2;
}

@media (max-width: 768px) {
  ul.h-aside-nav {
    font-size: .925rem;
  }
}

@media (max-width: 500px) {
  img.bg-logo {
    aspect-ratio: 218 / 85;
  }

  div.header-content > nav {
    font-size: .8rem;
  }

  button#mobile-menu {
    display: flex;

    background-color: #00000033;

    width: 32.5px;
    height: 32.5px;

    border-radius: 5px;

    transition: background-color 0.3s ease-in-out;
    cursor: pointer;

    div.line-top,
    div.line-middle,
    div.line-bottom {
      background-color: white;

      height: 3px;
      width: 25px;

      border-radius: 3px;

      box-shadow: 1px 1px 5px #00000020;
    }

    div.line-middle {
      margin: 4px 0px;
    }

    &.active {
      position: fixed;
      top: 52px;
      right: 12px;

      background-color: #ffffff33;

      z-index: 10;
      transition: background-color 0.5s ease-in-out;

      div.line-top {
        animation: line-top-anim 0.5s ease-in-out forwards;
      }

      div.line-middle {
        animation: line-middle-anim 0.5s forwards;
      }

      div.line-bottom {
        animation: line-bottom-anim 0.5s ease-in-out forwards;
      }
    }

    &.closing {
      div.line-top {
        animation: line-top-anim-rev 0.5s ease-in-out forwards;
      }

      div.line-middle {
        animation: line-middle-anim-rev 0.5s forwards;
      }

      div.line-bottom {
        animation: line-bottom-anim-rev 0.5s ease-in-out forwards;
      }
    }
  }

  ul#menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: unset;

    position: fixed;
    top: 38px;
    right: 100%;

    height: 200dvh;
    width: auto;

    background-image: linear-gradient(to bottom, #005dfe, blue); /* #005dfef2 */
    backdrop-filter: blur(2px);
    color: white;
    /* border-radius: 10px;
    border: 2px solid #808080; 
    border-right: 2px solid #808080; */

    /* box-shadow: 0 0 1rem #00000033; */

    overflow: hidden;
    visibility: hidden;

    z-index: 5;

    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
  }

  li.l-link {
    text-align: flex-start;

    height: unset;
    width: 100%;
    
    transition: background-color .3s ease-in-out;

    &:hover {
      background-color: #004bcc;
    }
  }

  li.l-link a {
    text-wrap: nowrap;

    padding: 1rem 6rem 1rem 1rem;

    &:hover {
      text-decoration: none;
    }
  }

  li.l-others {
    width: 100%;
  }

  li.l-others ul {
    flex-direction: column;
    gap: 0;

    border: none;

    width: 100%;

    padding-left: unset;
  }

  li.l-hidden svg {
    font-size: 1rem;
  }

  li.l-hidden span {
    display: flex;
  }

  li.l-others li:nth-of-type(1):hover {
    color: unset;
  }

  li.l-others li:nth-of-type(2):hover {
    color: unset;
  }

  ul#menu.show {
    transform: translateX(100%);

    visibility: visible;
  }

  body:has(ul#menu.show) {
    overflow: hidden;
  }
}

@media (max-width: 375px) {
  /* ul.h-aside-nav {
    align-items: flex-end;
    flex-direction: column;
  } */
}