@keyframes line-top-anim {
  0% {
    transform: translateY(0px) rotate(0deg);
  }

  50% {
    transform: translateY(6px) rotate(0deg);
  }

  100% {
    transform: translateY(6px) rotate(45deg);
  }
}

@keyframes line-middle-anim {
  0% {
    opacity: 1;

    transform: scale(1);
  }

  50% {
    opacity: 1;
    
    transform: scale(1);
  }

  100% {
    opacity: 0;

    transform: scale(0);
  }
}

@keyframes line-bottom-anim {
  0% {
    transform: translateY(0) rotate(0deg);
  }

  50% {
    transform: translateY(-8px) rotate(0deg);
  }

  100% {
    transform: translateY(-8px) rotate(135deg);
  }
}

@keyframes line-top-anim-rev {
  0% {
    transform: translateY(6px) rotate(45deg);
  }

  50% {
    transform: translateY(6px) rotate(0deg);
  }

  100% {
    transform: translateY(0) rotate(0deg);
  }
}

@keyframes line-middle-anim-rev {
  0% {
    opacity: 0;

    transform: scale(0);
  }

  50% {
    opacity: 0;

    transform: scale(0);
  }

  100% {
    opacity: 1;

    transform: scale(1);
  }
}

@keyframes line-bottom-anim-rev {
  0% {
    transform: translateY(-8px) rotate(135deg);
  }

  50% {
    transform: translateY(-8px) rotate(0deg);
  }

  100% {
    transform: translateY(0) rotate(0deg);
  }
}

div.header-content {
  border-bottom: 2px solid #808080;

  box-shadow: 0 5px 25px #00000033;
}

div#oc-menu {
  display: none;
}

ul#menu { 
  z-index: unset;
}

li.menu-contact  {
  display: none;
}

@media (max-width: 500px) {
    button#mobile-menu {
    display: flex;

    background-color: #00000033;

    width: 32.5px;
    height: 32.5px;

    border-radius: 5px;

    transition: background-color 0.3s ease-in-out;
    cursor: pointer;

    div.line-top,
    div.line-middle,
    div.line-bottom {
      background-color: white;

      height: 3px;
      width: 25px;

      border-radius: 3px;

      box-shadow: 1px 1px 5px #00000020;
    }

    div.line-middle {
      margin: 4px 0px;
    }

    &.active {
      background-color: #ffffff33;
      transition: background-color 0.5s ease-in-out;

      div.line-top {
        animation: line-top-anim 0.5s ease-in-out forwards;
      }

      div.line-middle {
        animation: line-middle-anim 0.5s forwards;
      }

      div.line-bottom {
        animation: line-bottom-anim 0.5s ease-in-out forwards;
      }
    }

    &.closing {
      div.line-top {
        animation: line-top-anim-rev 0.5s ease-in-out forwards;
      }

      div.line-middle {
        animation: line-middle-anim-rev 0.5s forwards;
      }

      div.line-bottom {
        animation: line-bottom-anim-rev 0.5s ease-in-out forwards;
      }
    }
  }

  ul#menu {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: unset;

    position: absolute;
    top: 38px;
    right: -20rem;

    height: 200dvh;

    background-image: linear-gradient(to bottom, #005dfe, blue); /* #005dfef2 */
    backdrop-filter: blur(2px);

    /* border-radius: 10px;
    border: 2px solid #808080; */
    border-left: 2px solid #808080; 

    /* box-shadow: 0 0 1rem #00000033; */

    overflow: hidden;
    visibility: hidden;

    z-index: -1;
    transition: transform .5s ease-in-out, visibility .5s ease-in-out;
  }

  li.li-link {
    text-align: start;

    width: 100%;
    padding: 1rem 0;
    
    transition: background-color .3s ease-in-out;

    &:hover {
      background-color: #004bcc;
    }
  }

  li.li-link a {
    padding: 1rem 12rem 1rem 1rem;
  }

  li.menu-contact {
    display: flex;
  }

  li.menu-contact li {
    &:hover {
      text-decoration: underline;
    }
  }

  li.menu-contact svg {
    background-color: dodgerblue;

    border-radius: 9999px;

    padding: 2px;
  }

  ul#menu.show {
    transform: translateX(-17em);

    visibility: visible;
  }

  body:has(ul#menu.show) {
    overflow: hidden;
  }
}