div.tooltip-content {
  display: flex;

  &:hover {
    div.tooltip {
      opacity: 1;
      visibility: visible;
    }
  }
}

div.tooltip {
  position: absolute;
  top: var(--tooltip-hover-y); /* 100 / 10 */
  left: var(--tooltip-hover-x);

  background-color: #f0f0f0;
  color: #000;

  text-align: start;
  font-size: .75rem;

  border-radius: 5px;
  border-top-left-radius: 0;

  width: max-content;
  max-width: 175px;

  opacity: 0;
  visibility: hidden;

  transition: opacity .2s ease-in-out, visibility .2s ease-in-out;

  &::before {
    content: "";
    position: absolute;
    transform: translate(-50%, 0);

    top: -8px;
    left: 50%;

    background-color: transparent;

    height: 0;
    width: 0;
  }
}

div.t-arrow-top {
  &::before {
    top: -8px;
    left: 50%;

    border-bottom: 10px solid #f0f0f0;   
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  }
}

div.t-arrow-bottom {
  &::before {
    top: unset;
    bottom: -8px;
    left: 50%;

    border-top: 10px solid #f0f0f0;   
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  }
}