div#contact {
  padding: var(--padding-section-y) 2rem;

  scroll-margin-top: 40px;
}

picture.c-content-img img {
  filter: drop-shadow(8px 4px 6px var(--shadow-imgs));
  transition: filter .3s ease-in-out;
}

a.contact-l {

  &:hover {
    svg {
      background-color: #005dfe;

      color: var(--bg-1);
    }

    span {
      color: #005dfe;
    }
  }
}

div.c-list,
div.c-list div {
  width: 100%;
}

a.contact-l svg {
  background-color: transparent;
  color: #005dfe;

  border-radius: 50%;
  border: 2px solid #005dfe;

  height: 35px;
  width: 35px;

  padding: 6px;
  transition: background-color .3s ease-in-out, color .3s ease-in-out, border .3s ease-in-out;
}

a.contact-l span {
  color: var(--text-color);
  transition: color .3s ease-in-out;
}

@media (max-width: 768px) {
  div#contact {
    padding: var(--padding-section-y) 1.2rem;
  }

  div.contact-root {
    flex-direction: column;
    gap: 1.4rem;
  }

  picture.c-content-img {
    align-items: center;
    justify-content: center;
    width: 100%;

  }

  picture.c-content-img img {
    max-width: 400px;
    min-width: unset;
  }

  div.contact-content {
    width: 100%;
  }
}