div#contact {
  padding: var(--padding-section-y) 2rem;
}

img.c-img {
  margin-top: -2%;
}

a.contact-l {

  &:hover {
    svg {
      background-color: #005dfe;

      color: white;
    }

    span {
      color: #005dfe;
    }
  }
}

a.contact-l svg {
  background-color: transparent;
  color: #005dfe;

  border-radius: 50%;
  border: 2px solid #005dfe;

  height: 35px;
  width: 35px;

  padding: 6px;
  transition: background-color .3s ease-in-out, color .3s ease-in-out, border .3s ease-in-out;
}

a.contact-l span {
  color: #000;
  transition: color .3s ease-in-out;
}

@media (max-width: 768px) {
  div#contact {
    padding: var(--padding-section-y) 1.2rem;
  }

  div.contact-root {
    flex-direction: column;
  }
  
  div.contact-content {
    width: 100%;
  }

  div.c-list,
  div.c-list div,
  div.c-content-img {
    width: 100%;
  }

  /* div.c-content-img {
    width: 100%;
  } */

  img.c-img {
    max-width: 375px;
    margin: auto;
  }
}