section#doubts {
  padding: var(--padding-section-y) 2rem;

  scroll-margin-top: 40px;
}

@media (max-width: 768px) {
  section#doubts {
    padding: var(--padding-section-y) 1.2rem;
  }

  section#doubts > section {
    gap: 1.4rem;
  }
}