div#doubts {
  padding: var(--padding-section-y) 2rem;

  scroll-margin-top: 40px;
}

@media (max-width: 768px) {
  div#doubts {
    padding: var(--padding-section-y) 1.5rem;
  }

  div#doubts > section {
    gap: 2.5rem;
  }
}