div#home {
  scroll-margin-top: 120px;
}

div.bg-s:nth-child(1) {
  padding: unset;
}

section.home-text-bg {
  padding: clamp(1.5rem, 4vh, 2rem) 0;
}

img.loading-logo {
  animation: loading 2s ease-in-out infinite;
}