div#plans {
  padding: var(--padding-section-y) 2rem;

  scroll-margin-top: 40px;
}

div.plans-cards-content {
  grid-template-columns: repeat(3, minmax(0, 240px));
  align-items: stretch;
}

@media (max-width: 768px) {
  div#plans {
    padding: var(--padding-section-y) 1.5rem;
  }

  div.plans-content {
    gap: 2.5rem;
  }

  div.plans-cards-content {
    grid-template-columns: repeat(2, minmax(0, 240px));
    justify-content: center;
  }

  div.plans-cards-content > :last-child {
    display: grid;
    grid-template-areas: "a";
    grid-column: 1/-1;
    justify-self: center;
  }
}

@media (max-width: 500px) {
  div.plans-cards-content {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    justify-content: center;
    gap: 1.5rem;
  }

  div.plans-cards-content > :last-child {
    display: unset;
    grid-template-areas: unset;
    grid-column: unset;
    justify-self: unset;
  }
}