@keyframes slide {
  0%, 100% {
    transform: translateX(-75%);
  }
  50% {
    transform: translateX(-25%);
  }
}

div#plans {
  padding: var(--padding-section-y) 2rem;

  scroll-margin-top: 40px;
}

div.plans-cards-content {
  align-items: stretch;
  gap: 1rem;

  border-radius: 25px;

  padding: .5rem;
}

div.plans-cards-content::-webkit-scrollbar {
  height: 8px;

  border-radius: 9999px;
}

div.plans-cards-content::-webkit-scrollbar-thumb {
  background-color: #aaaaaa;

  border-radius: 9999px;

  cursor: grab;

  height: 10%;
}

div.plans-cards-content::-webkit-scrollbar-thumb:active {
  cursor: grabbing;
}

svg.plans-arrow {
  animation: slide 1s infinite;
}

@media (max-width: 768px) {
  div#plans {
    padding: var(--padding-section-y) 1.2rem;
  }

  div.plans-content {
    gap: 1.4rem;
  }
}