div.accordion-content {
  flex-direction: column;
  gap: .25rem;

  width: 100%;
}

div.accordion-root.active span.accordion-open {
  animation: wiggleUp .65s ease-in-out forwards;
  transform: rotate(0deg);
}

div.accordion-root.closing span.accordion-open {
  animation: wiggleDown .65s ease-in-out forwards;
  transform: rotate(180deg);
}

div.accordion-root {
  box-shadow: 0 0 1rem var(--acc-shadow);

  &:hover {
    button.accordion-header {
      background-color: var(--acc-hover) !important;
    }
  }
}

button.accordion-header {
  background-color: var(--text-header);
  color: var(--text-color);

  border: 1px solid var(--acc-border);
  border-radius: 5px;
  
  cursor: pointer;

  width: 100%;

  padding: .8rem;
  transition: background-color .3s ease-in-out, border-color .3s ease-in-out, border-radius 1.25s ease-in-out;
}

button.accordion-header > span {
  transition: color .3s ease-in-out;
}

span.accordion-open {
  font-size: 1.2rem;
}

div.accordion-body {
  position: relative;

  gap: 1rem;

  background-color: var(--acc-bg);
  color: var(--text-color);

  border: 1px solid var(--acc-border);
  border-radius: 0 0 5px 5px;

  visibility: hidden;
  overflow: hidden;

  max-height: 0;
  width: 100%;

  padding: 0 1.2rem;
  transition: background-color .3s ease-in-out, border-color .3s ease-in-out, max-height .5s ease-in-out, padding .5s ease-in-out, visibility .45s ease-in-out;
}

div.accordion-root.active {
  div.accordion-body {
    visibility: visible;

    max-height: 1000px;

    padding: 1.2rem;
    transition: background-color .3s ease-in-out, border-color .3s ease-in-out, max-height .5s ease-in-out, padding .5s ease-in-out, visibility .5s ease-in-out;
  }

  button.accordion-header  {
    background-color: var(--acc-border);

    border-radius: 5px 5px 0 0;
    transition: background-color .3s ease-in-out, border-color .3s ease-in-out, border-radius 0s ease-in-out;
  }
}

div.accordion-body h2 {
  font-size: 1.2rem;
  font-weight: 600;
  transition: color .3s ease-in-out;
}

div.accordion-body p {
  line-height: 1.2rem;
  text-align: justify;
  hyphens: auto;
  transition: color .3s ease-in-out;
}

div.accordion-body p strong {
  line-height: 1.2rem;
}

/* @media (max-width: 768px) {
  div.accordion-content {
    max-width: 100%;
  }
} */