@import "tailwindcss";

* {
  font-family: "Rubik", Arial, sans-serif;
  line-height: 1;

  box-sizing: border-box;

  margin: 0;
  padding: 0;

  scrollbar-width: thin;
  scroll-behavior: smooth;
}

:root {
  --padding-section-y: clamp(2rem, 8vh, 4rem);
}

body {
  min-height: 100dvh;
  width: 100%;
  min-width: 425px;
}

div.bg-s {
  padding: 0 2rem;
}

a.link {
  &:hover {
    text-decoration: underline;
  }
}

@media (max-width: 768px) {
  :root {
    --padding-section-y: clamp(1rem, 4vh, 2rem);
  }

  div.bg-s {
    padding: 0 1.5rem;
  }
}