@keyframes h-slide {
  0%, 100% {
    transform: translateY(-75%);
  }
  50% {
    transform: translateY(-25%);
  }
}

div.home-bg {
  background-image: linear-gradient(45deg, #0041ff, #005dfe);
  background-size: cover;

  border-top: 2px solid #808080;
  border-bottom: 2px solid #808080;
}

div.wallpaper {
  /* background-image: url(https://img.freepik.com/premium-photo/internet-things-background_34629-827.jpg); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  aspect-ratio: 626 / 352;
}

div.bg-text {
  top: 50%;
  left: clamp(0rem, calc((1080px - 100vw) / 125px * 2rem), 1.5rem);
  transform: translate(0, -50%);

  filter: drop-shadow(0 0 10px #00000080);
}

a.plans-button {
  &:hover {
    span.p-button-text {
      transform: translateX(1.3rem);
    }
  }
}

span.p-button-text {
  background-color: #155dfc;

  border: 2px solid #ffffff5a;
  border-radius: 10px;
  transition: transform .4s ease-in-out;
}

svg.home-arrow {
  animation: h-slide 1s infinite;
}

@media (max-width: 768px) {
  img.fund {
    object-fit: cover;
  }

  img.home-img {
    top: unset;
    bottom: -2.6%;
    left: 50%;
    transform: translateX(-50%);

    height: auto;
    min-height: 350px;
    width: 100%;
    max-width: 425px;

    object-fit: cover;

    aspect-ratio: 800 / 700;
  }

  div.bg-text {
    top: unset;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);

    text-align: center;

    width: 100%;

    padding: 0 1.5rem;
  }

  div.bg-text h1 {
    font-size: clamp(1.8rem, 9.35vw, 2.8rem);
  }

  a.plans-button {
    align-self: center;

    padding-left: 1.3rem;

    &:hover {
      span.p-button-text {
        transform: unset;
      }
    }
  }
}