div.home-bg {
  background-image: linear-gradient(45deg, #0041ff, #005dfe);
  background-size: cover;

  border-top: 2px solid #808080;
  border-bottom: 2px solid #808080;
}

img.home-img {
  position: absolute;
  bottom: 0;

  height: 360px;

  aspect-ratio: 450 / 394;
}

div.bg-text {
  top: 50%;
  left: clamp(0rem, calc((1080px - 100vw) / 125px * 2rem), 1.5rem);
  transform: translate(0, -50%);

  filter: drop-shadow(0 0 10px #00000080);
}

a.plans-button {
  &:hover {
    span.p-button-text {
      color: #155dfc;
    }

    span.p-button-text::before {
      height: 500%;
    }
  }
}

span.p-button-text {
  background-color: #155dfc;

  border: 2px solid #ffffff5a;
  border-radius: 10px;

  overflow: hidden;
  transition: color .3s ease-in-out, transform .4s ease-in-out;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;

    background-color: #fff;

    width: 100%;
    height: 0;

    z-index: -1;

    transform: translate(-50%, -50%) rotate(-45deg);
    transition: height, .4s ease-in-out, transform .4s ease-in-out;
  }
}

svg.home-arrow {
  animation: d-slide 1s infinite;
}

img.home-icons {
  animation: floatRotate 3s ease-in-out infinite;
}

img.home-icons:nth-child(2) {
  animation: floatRotate 5s ease-in-out infinite;
}

@media (max-width: 767px) {
  img.home-img {
    bottom: -3.4%;
    left: 50%;
    transform: translateX(-50%);

    height: auto;
    min-height: 375px;
    width: 100%;
    max-width: 430px;

    aspect-ratio: 500 / 438;
  }

  div.bg-text {
    top: unset;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);

    text-align: center;

    width: 100%;

    padding: 0 1.5rem;
  }

  div.bg-text h1 {
    font-size: clamp(1.8rem, 9.35vw, 2.8rem);
  }

  a.plans-button {
    align-self: center;

    &:hover {
      span.p-button-text {
        transform: unset;
      }
    }
  }
}